# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\My Drive\Programming\B-Tree Indexing\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
